<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C:/Users/suvp/IdeaProjects/LogbackActiveMq/myLog.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

        <appender name="JMS_APPENDER_QUEUE"
                             class="ch.qos.logback.classic.net.JMSQueueAppender">
        <InitialContextFactoryName>
            org.apache.activemq.jndi.ActiveMQInitialContextFactory
        </InitialContextFactoryName>
        <ProviderURL>tcp://localhost:61616</ProviderURL>
        <QueueConnectionFactoryBindingName>queueConnectionFactory</QueueConnectionFactoryBindingName>
        <QueueBindingName>myQueue</QueueBindingName>
    </appender>

    <appender name="JMS_APPENDER_TOPIC"
              class="ch.qos.logback.classic.net.JMSTopicAppender">
        <InitialContextFactoryName>
            org.apache.activemq.jndi.ActiveMQInitialContextFactory
        </InitialContextFactoryName>
        <ProviderURL>tcp://localhost:61616</ProviderURL>
        <TopicConnectionFactoryBindingName>topicConnectionFactory</TopicConnectionFactoryBindingName>
        <TopicBindingName>myTopic</TopicBindingName>
    </appender>


    <logger name="moudule.MyClass" level="debug"
            additivity="false">
        <appender-ref ref="FILE-AUDIT" />
        <appender-ref ref="JMS_APPENDER_QUEUE" />
        <appender-ref ref="JMS_APPENDER_TOPIC" />
    </logger>

    <root level="error">
        <appender-ref ref="FILE-AUDIT" />
    </root>

</configuration>